$tablet: 768px;
$desktop: 1300px;

html {
    font-size: 62.5%;
    font-family: 'oswald';
}

body {
    background: #fff;
    height: 100vh;
}

a {
    position: relative;
    text-decoration: none;
    color: #000;
}

.container {
//    padding: 0 4em;
padding-left: 4em;
padding-right: 4em;
   @media (min-width: $desktop) {
    max-width: 1440px;
    margin: 0 auto;
   }
}