/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, a,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  font-family: "oswald";
}

body {
  background: #fff;
  height: 100vh;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 4em;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.5em;
  margin-bottom: 1.5em;
  position: relative;
}
header .header__logo {
  font-size: 2.2rem;
  font-weight: bold;
}
header .header__hide--mobile {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background: #D9D9D9;
  padding: 3.5em 3.9em 0 13.2em;
  text-align: right;
}
header .header__hide--mobile .close {
  margin-bottom: 5.1em;
}
header .header__hide--mobile ul li a {
  font-size: 2.5rem;
  padding-bottom: 0.92em;
  color: #000;
}
header .header__icons {
  display: flex;
  align-items: center;
}
header .header__icons svg {
  width: 24px;
  height: 24px;
  padding-left: 1.2em;
}
header .header__icons .menu__icon {
  width: 32px;
  height: 32px;
}

.hero {
  background: url("../assets/model--mobile.png");
  height: 626px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}
.hero__marquee {
  display: flex;
  justify-content: space-around;
  background: #D9D9D9;
  padding: 3.1em 0 3.6em 0;
  width: 100%;
}
.hero__marquee p {
  font-size: 1.8rem;
}

.products {
  margin-top: 9.5em;
}
.products__title {
  font-size: 4.5rem;
  font-weight: bold;
  text-align: center;
}
.products__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin-top: 8.2em;
  height: 678px;
}
.products__product:nth-of-type(1) {
  background: url("../assets/model_wearing_beanie.png");
}
.products__product:nth-of-type(2) {
  background: url("../assets/model_wearing_beanie.png");
}
.products__product:nth-of-type(3) {
  background: url("../assets/model_wearing_beanie.png");
}
.products__product:nth-of-type(4) {
  background: url("../assets/model_wearing_beanie.png");
}
.products__product:nth-of-type(5) {
  background: url("../assets/model_wearing_beanie.png");
}
.products__product:nth-of-type(6) {
  background: url("../assets/model_wearing_beanie.png");
}
.products__product:nth-of-type(1), .products__product:nth-of-type(2), .products__product:nth-of-type(3), .products__product:nth-of-type(4), .products__product:nth-of-type(5), .products__product:nth-of-type(6) {
  background-size: cover;
  background-position: center;
}

.sale {
  background: url("../assets/model_sale.png");
  background-size: cover;
  margin-top: 7.3em;
  height: 262px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sale__title {
  font-size: 4.5rem;
  font-weight: bold;
}
.sale__title, .sale__cta {
  color: #fff;
}
.sale__cta {
  text-decoration: underline;
  font-size: 2rem;
  margin-top: 1em;
}

.cta {
  margin-top: 7.3rem;
  text-align: center;
  font-size: 4.5rem;
  font-weight: bold;
}

footer {
  margin-top: 17.3em;
  background: #1E1E1E;
  color: #fff;
  overflow: hidden;
}
footer .footer__top {
  padding-top: 5.6em;
}
footer ul li {
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 0.714em;
}
footer ul li a {
  margin-bottom: 0.357em;
}
footer .footer__title p {
  font-size: 2.2rem;
}
footer a {
  color: #fff;
}
footer .footer__top {
  display: flex;
  flex-wrap: wrap;
}
footer .footer__title:nth-of-type(1) {
  flex-basis: 33.3%;
}
footer .footer__title:nth-of-type(2) {
  flex-basis: 33.3%;
}
footer .footer__title:nth-of-type(3) {
  flex-basis: 33.3%;
}
footer .footer__title:nth-of-type(4) {
  flex-basis: 100%;
  margin-top: 5.8em;
}
footer .footer__newsletter p:nth-of-type(1) {
  font-size: 2.6rem;
}
footer .footer__newsletter p:nth-of-type(2) {
  font-size: 1.6rem;
  margin-top: 0.75em;
  margin-bottom: 1.25em;
}
footer .footer__socials {
  margin-top: 1em;
}
footer form input {
  width: 100%;
  padding: 1.3em;
}
footer .footer__newsletter {
  overflow: hidden;
}
footer .footer__newsletter a {
  font-size: 2.2rem;
  margin-top: 1rem;
  padding: 0.59em 1.1818em;
  border: 1px solid #fff;
  max-width: 6.45em;
  text-align: center;
}
footer .footer__storeName {
  font-size: 7.8rem;
  margin-top: 0.56em;
  margin-bottom: 0.679em;
}
footer .footer__copyright {
  font-size: 1.4rem;
  text-align: center;
  color: #CACACA;
  margin-bottom: 1.57em;
}
footer .footer__payments {
  text-align: center;
}/*# sourceMappingURL=main.css.map */