@import 'reset';
@import 'global';

$tablet: 768px;
$desktop: 1300px;

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
    position: relative;

    .header__logo {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .header__hide--mobile {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        background: #D9D9D9;

        padding: 3.5em 3.9em 0 13.2em;
        text-align: right;
        
        .close {
            margin-bottom: 5.1em;
        }

        ul li a {
            font-size: 2.5rem;
            padding-bottom: .92em;
            color: #000;

        }
    }

    .header__icons {
        display: flex;
        align-items: center;

        svg {
            padding-left: 1.2em;
        }

        .menu__icon {
            width: 28px;
            height: 28px;
        }

        .shopping {
            width: 14px;
            height: 16px;
        }

        .account {
            width: 12px;
            height: 14px;
        }
        
        .search {
            width: 18px;
            height: 18px;
        }

        .menu__icon {
            width: 32px;
            height: 32px;
        }
    }

    
}

.hero {
    background: url('../assets/model--mobile.png');
    height: 626px;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: flex-end;

    &__marquee {
        display: flex;
        justify-content: space-around;
        background: #D9D9D9;
        padding: 3.1em 0 3.6em 0;
        width: 100%;

        & p {
            font-size: 1.8rem;
        }
    }
 
}
// products section
.products {
    margin-top: 9.5em;
    &__title {
        font-size: 4.5rem;
        font-weight: bold;
        text-align: center;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        margin-top: 8.2em;
        height: 678px;
        
        // img {
            //     height: 100%;
            //     width: 100%;
            // }
        }
     
        &__product:nth-of-type(1) {
            background: url('../assets/model_wearing_beanie.png');
            
    }
    &__product:nth-of-type(2) {
        background: url('../assets/model_wearing_beanie.png');
    }
    &__product:nth-of-type(3) {
        background: url('../assets/model_wearing_beanie.png');
    }
    &__product:nth-of-type(4) {
        background: url('../assets/model_wearing_beanie.png'); 
    }
    &__product:nth-of-type(5) {
        background: url('../assets/model_wearing_beanie.png');
    }
    &__product:nth-of-type(6) {
        background: url('../assets/model_wearing_beanie.png');
    }
    &__product:nth-of-type(1),
    &__product:nth-of-type(2),
    &__product:nth-of-type(3),
    &__product:nth-of-type(4),
    &__product:nth-of-type(5),
    &__product:nth-of-type(6) {
        background-size: cover;
        background-position: center;
    }

}

.sale {
    background: url('../assets/model_sale.png');
    background-size: cover;
    margin-top: 7.3em;
    height: 262px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 4.5rem;
        font-weight: bold;
    }

    &__title,
    &__cta {
        color: #fff;
    }

    &__cta {
        text-decoration: underline;
        font-size: 2rem;
        margin-top: 1em;
    }
}

.cta {
    margin-top: 7.3rem;
    text-align: center;
    font-size: 4.5rem;
    font-weight: bold;
}

footer {
    margin-top: 17.3em;
    background: #1E1E1E;
    color: #fff;
    overflow: hidden;

    .footer__top {
        padding-top: 5.6em;
    }

    ul li {
        font-size: 1.4rem;
        font-weight: 400;
        margin-top: .714em;

        a {
            margin-bottom: .357em;
        }
        
    }

    .footer__title p {
        font-size: 2.2rem;
    }

    a {
        color: #fff;
    }

    .footer__top {
        display: flex;
        flex-wrap: wrap;
    }

    .footer__title:nth-of-type(1) {
        flex-basis: 33.3%;
    }
    .footer__title:nth-of-type(2) {
        flex-basis: 33.3%;
    }
    .footer__title:nth-of-type(3) {
        flex-basis: 33.3%;
   
    }
    .footer__title:nth-of-type(4) {
        flex-basis: 100%;
        margin-top: 5.8em;
    }

    .footer__newsletter p:nth-of-type(1) {
        font-size: 2.6rem;
    }

    .footer__newsletter p:nth-of-type(2) {
        font-size: 1.6rem;
        margin-top: .75em;
        margin-bottom: 1.25em;
    }

    .footer__socials {
        margin-top: 1em;
        
    }

    form input{
        width: 100%;
        padding: 1.3em;
    }

    .footer__newsletter  {
        overflow: hidden;
    }

    .footer__newsletter a{
        font-size: 2.2rem;
         margin-top: 1rem;
         padding: .59em 1.1818em;
         border: 1px solid #fff;
         max-width: 6.45em;
         text-align: center;
    }

    .footer__storeName {
        font-size: 7.8rem;
        margin-top: .56em;
        margin-bottom: .679em;
    }

    .footer__copyright {
        font-size: 1.4rem;
        text-align: center;
        color: #CACACA;
        margin-bottom: 1.57em;
    }

    .footer__payments {
        text-align: center;
    }
    
    
}

